---
layout: default
---
{% include base_path %}

<div id="main" role="main">
  <article class="page h-entry page--fullwidth">
    <div class="page__inner-wrap">
      {% if page.title %}
        <header><h1 class="page__title p-name">{{ page.title }}</h1></header>
      {% endif %}

      <section class="page__content e-content">

        {% if page.toc %}
          <aside class="sidebar__right {% if page.toc_sticky %}sticky{% endif %}">
            <nav class="toc" role="navigation" aria-label="Table of contents">
              <header><h4 class="nav__title">{{ page.toc_label | default: "On this page" }}</h4></header>
              {% include toc.html html=content sanitize=true h_min=2 h_max=3 %}
            </nav>
          </aside>
        {% endif %}

        {{ content }}
      </section>

      {% if page.share %}{% include social-share.html %}{% endif %}
      {% if site.comments.provider and page.comments %}{% include comments.html %}{% endif %}
    </div>
  </article>
</div>

