---
layout: default
---
{% include base_path %}

<div id="main" role="main">
  <article class="page h-entry page--fullwidth">
    <div class="page__inner-wrap lefttoc">
      {% if page.title %}
        <header><h1 class="page__title p-name">{{ page.title }}</h1></header>
      {% endif %}

      <!-- LEFT TOC -->
      <aside class="toc-left" role="navigation" aria-label="Table of contents">
        {% include toc %}
      </aside>

      <!-- CONTENT -->
      <section class="page__content e-content" itemprop="articleBody">
        {{ content }}
      </section>

      {% if page.share %}{% include social-share.html %}{% endif %}
      {% if site.comments.provider and page.comments %}{% include comments.html %}{% endif %}
    </div>
  </article>
</div>
